<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>衣類検索</h1>
	<form action="search-clothes.html" th:action="@{/cloth/search}" method="post">
		<div th:each="gender:${genderMap}">
			<input th:id="${gender.value}" type="radio" name="gender" th:value="${gender.key}" th:checked="${gender.key == 0}">
			<label th:for="${gender.value}"><span th:text="${gender.value}">man</span></label>
		</div>
		<div>
			<select name="color">
				<option th:each="color:${colorList}" th:value="${color}" th:text="${color}">yellow</option>
			</select>
		</div>
		<button>検索</button>
	</form><br>
	<span th:text="${errorMessage}">error</span>
	<table border="1" th:each="cloth:${clothList}">
		<tr>
			<td>ジャンル</td>
			<td th:text="${cloth.genre}">genre</td>
		</tr>
		<tr>
			<td>サイズ</td>
			<td th:text="${cloth.size}">size</td>
		</tr>
		<tr>
			<td>価格</td>
			<td th:text="${#numbers.formatInteger(cloth.price, 1, 'COMMA')}">price</td>
		</tr>
	</table>
</body>
</html>